*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
}

h1, h2, h3, p {
  font-family: helvetica;
  color: #333;
  margin: 0 0 16px;
}

h1, h2, h3 {
  text-align: center;
}

.clearfix {
  display: block;
  clear: both;
}

.slider-nav {
  margin: 0;
  height: 80px;
  position: absolute;
  top: 400px;
  color: white;
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.previous,
.next {
  height: 80px;
  width: 50%;
  cursor: pointer;
}

.slider-wrapper {
  position: relative;
}

.slider-inner {
  position: absolute;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  background: #eee;
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.dates {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  position: relative;
  top: 500px; 
  height: 75px;
}

.date-inner {
  width: 2000px;
  height: 60px;
}

.date-box {
  padding: 10px;
  height: 60px;
  width: 80px;
  float: left;
  background: white;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.date-box p {
  color: #444;
  font-size: 14px;
  text-align: center;
}

.date-box.selected {
  background: #dadada;
}

.date-box.selected p {
  color: #333;
}

.date-box:hover {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.date-box.selected:hover {
  box-shadow: none;
}

.date-box:first-child {
  border-left: 2px solid #555;
}


@media (max-width: 767px) {

  .text-container {
  }
}

@media (max-width: 400px) {

  .text-container {
  }
}